/* CoursesPage.css */
.courses-page {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  .courseimg{
    background-image: url(https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Allow vertical scrolling */
  }
  
  .course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .course-box {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background:transparent;
    backdrop-filter: blur(90px);
  }
  
  .enrollbutton {
    background-color: #f95c0d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .enrollbutton:hover {
    background-color: #d4500a;
  }
  